html {
  height: 100%;
  width: 100%;
  margin: 0;
}
html body {
  height: 100%;
  width: 100%;
  margin: 0;
}
html body #map {
  height: 100%;
  width: 100%;
}
html body .search-bar-wrapper {
  position: absolute;
  top: 50px;
  left: 10px;
}
html body #place-info-wrapper {
  position: absolute;
  top: 50px;
  left: 0;
  width: 408px;
  height: 350px;
  display: none;
}
html body #place-info-wrapper #hero-header-wrapper {
  width: 100%;
  height: 200px;
  overflow: hidden;
}
html body #place-info-wrapper #hero-header-wrapper img {
  width: 408px;
  height: 200px;
}
html body #place-info-wrapper #place-basic-info {
  background-color: #4285F4;
  width: 100%;
  height: 135px;
  padding: 16px 10px;
}
html body #place-info-wrapper #place-basic-info .info-text {
  color: white;
  font-family: Roboto, Arial, sans-serif;
}
html body #place-info-wrapper #place-basic-info .place-name {
  font-size: 18px;
}
html body #place-info-wrapper #place-basic-info .place-review-score,
html body #place-info-wrapper #place-basic-info .place-type,
html body #place-info-wrapper #place-basic-info .place-address {
  margin-top: 8px;
  font-size: 13px;
  color: white;
}
html body #place-info-wrapper #place-basic-info .place-review-score {
  height: 16px;
}
html body #place-info-wrapper #place-basic-info .place-type {
  text-transform: capitalize;
}
